<div class="panel panel-primary">
    <div class="panel-heading">
      <h2>Demande List</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Debut</th>
            <th>Nbjours</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let demande of demandes | async">
            <td>{{demande.titre}}</td>
            <td>{{demande.description}}</td>
            <td>{{demande.debut}}</td>
            <td>{{demande.nbjours}}</td>
            <td><button (click)="deleteDemande(demande.id)" class="btn btn-danger">Delete</button>
            <button (click)="demandeDetaile(demande.id)" class="btn btn-info" style="margin-left: 10px">Details</button>   
            <button (click)="uppdateDemande(demande.id)" class="btn btn-info" style="margin-left: 10px">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  

